/quissile.wwwapi8/appsettings.json
/quissile.wwwapi8/appsettings.Development.json
 */**/bin/Debug   
*/**/bin/Release   
*/**/obj/Debug   
*/**/obj/Release   
/quissile.wwwapi8/appsettings.json
/quissile.wwwapi8/appsettings.Development.json
/.vs/quissile/v17/TestStore/0
/.vs/quissile/FileContentIndex
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.AssemblyInfo.cs
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.AssemblyInfoInputs.cache
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.assets.cache
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.csproj.AssemblyReference.cache
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.GeneratedMSBuildEditorConfig.editorconfig
/quissile.wwwapi8/obj/project.assets.json
/quissile.wwwapi8/obj/project.nuget.cache
/quissile.wwwapi8/obj/quissile.wwwapi8.csproj.nuget.dgspec.json
/quissile.wwwapi8/obj/quissile.wwwapi8.csproj.nuget.g.props
/.vs/quissile
