/quissile.wwwapi8/appsettings.json
/quissile.wwwapi8/appsettings.Development.json
 */**/bin/Debug   
*/**/bin/Release   
*/**/obj/Debug   
*/**/obj/Release   
/quissile.wwwapi8/appsettings.json
/quissile.wwwapi8/appsettings.Development.json
/.vs/quissile/v17/TestStore/0
/.vs/quissile/FileContentIndex
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.AssemblyInfo.cs
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.AssemblyInfoInputs.cache
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.assets.cache
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.csproj.AssemblyReference.cache
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.GeneratedMSBuildEditorConfig.editorconfig
/quissile.wwwapi8/obj/project.assets.json
/quissile.wwwapi8/obj/project.nuget.cache
/quissile.wwwapi8/obj/quissile.wwwapi8.csproj.nuget.dgspec.json
/quissile.wwwapi8/obj/quissile.wwwapi8.csproj.nuget.g.props
/.vs/quissile
/quissile.wwwapi8/bin/Debug/net8.0/quissile.wwwapi8.dll
/quissile.wwwapi8/bin/Debug/net8.0/quissile.wwwapi8.exe
/quissile.wwwapi8/bin/Debug/net8.0/quissile.wwwapi8.pdb
/quissile.wwwapi8/obj/Debug/net8.0/ref/quissile.wwwapi8.dll
/quissile.wwwapi8/obj/Debug/net8.0/refint/quissile.wwwapi8.dll
/quissile.wwwapi8/obj/Debug/net8.0/apphost.exe
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.csproj.CoreCompileInputs.cache
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.csproj.FileListAbsolute.txt
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.dll
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.genruntimeconfig.cache
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.pdb
/quissile.wwwapi8/obj/Debug/net8.0/quissile.wwwapi8.sourcelink.json
/quissile.wwwapi8/bin/Debug/net8.0/appsettings.Development.json
/quissile.wwwapi8/bin/Debug/net8.0/appsettings.json
/quissile.wwwapi8/appsettings.Development.json
